/* Ensure Tailwind CSS is installed and configured correctly */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background); /* Apply background color */
  color: var(--foreground); /* Apply foreground (text) color */
}


html, body {
  overflow-y: scroll;
}

footer {
  z-index: 10 !important; /* Lower than ScrollToTop’s 1000 */
}